
.footer {

    display:flex;
    flex-shrink:0;
    background-color: #2E719D;
    justify-content:center;
    align-items:center;
    padding:30px;
    height:100%;
    color:white;
    font-weight:lighter;
    transition: .4s;
}

